[submodule "submodules/freetype"]
	path = submodules/freetype
	url = https://github.com/freetype/freetype.git
[submodule "submodules/curl"]
    path = submodules/curl
    url = https://github.com/curl/curl.git
[submodule "submodules/ImageLoader"]
	path = submodules/ImageLoader
	url = https://github.com/TKDturtle23/ImageLoader
[submodule "libwebp"]
	path = submodules/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "submodules/quickjs"]
	path = submodules/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
